<!DOCTYPE html>
<html lang="zh-CH">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<title>{{title}}</title>

</head>
<body>
<div id="left-nav" class="left-nav">
    <div id="left-nav-vue"></div>
</div><!--end left-nav-->

<div class="main">
    <div class="top-nav">
        <div style="float:left;">
            <h4 class="project-name">test</h4>
        </div>
        <div class="top-nav-tip"></div>
        <div class="user-manager">
            <div class="user-img"><i class="fa fa-user"></i></div>
            <div class="user-name">
                eva wang
            </div>
            <ul>
                <li><a href="#">账户信息</a></li>
                <li><a href="#">退出</a></li>
            </ul>
        </div>

        <div class="main-button-box" style="display:none">
            <div class="layer-view-btn">
                <div><span class="glyphicon glyphicon-list-alt"></span></div>
                <div>预览</div>
            </div>
            <div class="layer-save-btn">
                <div><span class="glyphicon glyphicon-floppy-save"></span></div>
                <div>保存</div>
            </div>
            <div class="layer-publish-btn">
                <div><span class="glyphicon glyphicon-cloud-upload"></span></div>
                <div>一键发布</div>
            </div>
        </div>

    </div><!--end top-nav-->


    <div class="tab-content-box">

    </div>
</div><!--end main-->

</body>
{% block script %}
{% if (mainJs != null and mainJs != '') %}
<script src="{{vendorJs}}"></script>
<script src="{{mainJs}}"></script>
<script src="{{mainJs2}}"></script>
{% endif %}
{% endblock %}
</html>
